<!DOCTYPE html>
<html lang="zh_CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    html,
    body,
    .zieditor-main {
      height: 600px;
      padding: 0;
      margin: 0;
    }

    .zieditor-main:after {
      display: block;
      content: "";
      clear: both;
    }

    .zieditor-main>div {
      width: 50%;
      display: block;
      float: left;
      height: 600px;
    }
  </style>
</head>

<body>
  <div class="zieditor-main">
    <div>
      <textarea id="zieditor" style="resize:none"></textarea>
    </div>
    <div>
      <div id="zieditor-preview"></div>
    </div>
  </div>
</body>

</html>