.zieditor-container{
  overflow: hidden;
}
.CodeMirror{
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
}
.zieditor-preview{
  width:50%;
  float: left;
  margin: 0;
  padding: 0;
  overflow: auto;
}